<% content_for :head do %>
  <title>Home - Mercadinho</title>
  <style>
    #mensagem{
      height: 85vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: grey; 
    }
  </style>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<% end %>


<div id="mensagem">
  <h3>Bem-vindo ao Mercadinho AGP</h3>
  <%= link_to "Ir às compras", new_pedido_path %>
</div>
